html, body {
    height: 100%;
    width: 100%;
    background: #9c27b0;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 1em; 
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 80vh;
    transform: translate(-50%, -50%);
}

.messages {
    height: 50%;
    overflow: hidden;
    overflow-y: scroll;
}

.messages .log {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.messages .log li {
    vertical-align: middle;
    font-size: 2em;
    color: white;
}

.keyboard {
    height: 50%;
}

.panel {
    width: 720px;
    margin: 0 auto;
}

.keys {
    margin-top: 8px;
    margin-left: 0;
    margin-right: 8px;
    margin-bottom: 16px;
    float: left;
}

.key {
    height: 32px;
    width: 32px;
    background: white;
    color: #9c27b0;
    display: inline-block;
    padding: 8px;
    box-sizing: border-box;
}

.one.and.quarter {
    width: 40px;
}

.one.and.half {
    width: 48px;
}

.two {
    width: 64px;
}

.two.and.quarter {
    width: 72px;
}

.two.and.three.quarters {
    width: 88px;
}

.esc.key {
    margin-right: 32px;
}

.f4.key, .f8.key {
    margin-right: 16px;
}

.alphanumeric.keys {
    width: 480px;
}

.backspace.key {
    width: 64px;
}

.tab.key, .slash.key {
    width: 48px;
}

.navigation.keys {
    width: 96px;
}

.numpad.keys {
    width: 128px;
}