html, body {
    height: 100%;
    width: 100%;
    background: #9c27b0;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.container {
    margin: 0 auto;
    padding: 1em; 
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 80vh;
    transform: translate(-50%, -50%);
}

.messages {
    margin: 20px;
    min-height: 210px;
    position: relative;
}

.log {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.message {
    vertical-align: middle;
    font-size: 2em;
    color: white;
    font-weight: 100;
}

.message:nth-last-child(n+3) {
    font-size: 1.5em;
}

.message:nth-last-child(3) {
    font-size: 2em;
}

.message:nth-last-child(2) {
    font-size: 2.5em;
}

.message:last-child {
    font-size: 5em;
}

/* refer http://www.wasdkeyboards.com/media/keycap_layout.jpg */

.keyboard {
    padding: 20px;
}

.panel {
    max-width: 1280px;
    margin: 20px auto 0;
}

.panel {
    overflow: auto;
}

.keys {
    margin-top: 1%;
    margin-left: 0;
    margin-right: 1%;
    margin-bottom: 2%;
    float: left;
}

.key {
    height: 4%;
    width: 4%;
    background: white;
    color: #9c27b0;
    display: block;
    padding: 2%;
    box-sizing: border-box;
    float: left;
    position: relative
}

.key span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 4px;
    border: 1px solid #9c27b0;
    font-weight: 700;
}

.key.pressed {
    background: #9c27b0;
}

.key.pressed span {
    color: white;
    border: 1px solid white;
}

.f1.key {
    margin-left: 4%;
}

.f5.key, .f9.key {
    margin-left: 2%;
}

.pscr.key, .pgup.key, .num.lock.key, .pgdn.key, .num.seven.key, .left.arrow.key, .num.zero.key {
    margin-left: 4%;
}

.esc.key, .tilde.key, .tab.key, .caps.key, .shift.key, .ctrl.key {
    clear: left;
    margin-left: 2%;
}

.backspace.key {
    width: 8%;
}

.tab.key, .backslash.key, .ctrl.key, .win.key, .alt.key {
    width: 6%;
}

.caps.key {
    width: 7%;
}

.enter.key, .shift.key {
    width: 9%;
}

.num.four.key {
    margin-left: 20%;
}

.num.add.key, .num.enter.key {
    margin-top: -4%;
    padding-top: 6%;
    width: 4%;
}

.right.shift.key {
    width: 11%;
}

.right.ctrl.key, .right.shift.key {
    clear: none;
    margin-left: 0;
}

.space.key {
    width: 24%;
}

.navigation.keys {
    width: 13%;
}

.up.arrow.key , .num.one.key {
    margin-left: 8%;
}

.left.arrow.key::before {
    content: '';
    clear: both;
}

.num.zero.key {
    width: 8%;
}