html, body {
    height: 100%;
    width: 100%;
    background: #9c27b0;
    margin: 0;
    padding: 0;
}

.messages.container {
    margin: 0 auto;
    overflow: hidden;
    overflow-y: scroll;
    padding: 1em; 
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 80vh;
    transform: translate(-50%, -50%);
}

.log {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.log li {
    vertical-align: middle;
    font-size: 2em;
    color: white;
}